<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="QLSVConnect" connectionString="Data Source=Y;Initial Catalog=QLSV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevComponents.DotNetBar2, Version=12.1.0.7, Culture=neutral, PublicKeyToken=7EB7C3A35B91DE04"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>